<div class="container">
        <div class="hero-unit">
            <h1>Ghost Sightings Database</h1>
            <p>This is the current list of ghosts that have been reported to us</p>
            <p><a href="/create" class="btn btn-primary btn-large">Report Your Sighting &raquo;</a></p>
          </div>
          
          <ul class="thumbnails">
            {{#astros}}
            <li class="span3">
              <div class="thumbnail">
                {{#photo}}
				        <img src="{{photo}}" alt="photo of ghost {{name}}" width="300">
		            {{/photo}}
		            {{^photo}}
				        <img src="http://image.rakuten.co.jp/harry/cabinet/hst-3/2014hw-36.jpg" width="300">
		            {{/photo}}
                  <div class="caption">  
                    <h3>{{name}}</h3>
                    <p>"{{skills}}"</p>
                    <p><a class="btn btn-primary" href="/astronauts/{{slug}}">View details &raquo;</a></p>
                  </div>  
              </div>
            </li>
            {{/astros}}
          </ul>
          
    
</div>


