<div class="row">
	
	<div class="span8">
		<h3>{{page_title}}</h3>
		<h2> Edit Your Ghost </h2>
		
		<form method="POST" action="/astronauts/{{astro.slug}}/edit" class="form-horizontal">
			
			<div class = "control-group">
				<label for="thenamebox" class="control-label">Name</label>
				<div class = "controls">
				<input type="text" name="name" id="thenamebox" value="{{astro.name}}" required> 
				</div>
			</div>
			
			<div class = "control-group">
				<label for="birthdate" class="control-label">Date of Sighting</label>
				<div class = "controls">
				<input type="date" name="birthdate" id="birthdate" value="{{astro.birthdateForm}}"> 
				</div>
			</div>
			
			<div class = "control-group">
				<label for="skills" class="control-label">Behaviors</label>
				<div class = "controls">
			 	<input type="text" name="skills" id="skills" value="{{#astro.skills}}{{.}}{{/astro.skills}}"> 
				</div>
			</div>	

			<div class = "control-group">
				<label for="missions" class="control-label">Places Last Seen</label>
				<div class="controls">
				<input type="text" name="missions" id="missions" value="{{#astro.missions}}{{.}}{{/astro.missions}}"> 
				</div>
			</div>
			
			<div class = "control-group">
				<label for="photoUrl" class="control-label">Photo URL</label>
				<div class="controls">
			 	<input type="text" name="photoUrl" id="photoUrl" value="{{astro.photo}}"> 
				</div>
			</div>
			
			<!--<div class = "control-group">
				<label for="source_name" class="control-label">Source Name</label>
				<div class="controls">
				<input type="text" name="source_name" id="source_name" value="{{astro.source.name}}"> 
				</div>
			</div>
			
			<div class = "control-group">
				<label for="source_url" class="control-label">Source URL</label>
				<div class="controls">
				<input type="text" name="source_url" id="source_url" value="{{astro.source.url}}"> 
				</div>
			</div> --!>
			
			<div class = "control-group">
				<label for="walkedonmoon" class="control-label">Has been slimed?</label>
				<div class="controls">
				<input type="checkbox" name="walkedonmoon" id="walkedonmoon" {{#astro.walkedOnMoon}}checked=checked{{/astro.walkedOnMoon}}> 
				</div>
			</div>

			<input type="submit" value="Save Ghost" class="btn btn-primary">
			<a href="/"><button type="button" class="btn btn-danger">Cancel</button></a>
			<!--<a href="/astronauts/{{astro.slug}}/delete" class="btn btn-danger pull-right">Delete record</a>-->
		</form>

		<hr>

	</div>
	
	<div class="span4 pull-right">
		<img src="{{astro.photo}}" alt="photo of ghost {{astro.name}}" class="img-polaroid" width="320px">
	</div>
	
</div>






